/* Manter o formulario flex, com flex direction row e flex-wrap-wrap
>> classe .row, define as linhas de cada item Form, usar no html fazendo as marcações
>> classe . grupo_cxs, define as configurações de bloco de itens do form
>> classe .cx_text, define as propriedades inputs
>> classe .col-1.., 5 Tamanho dos inputs
>> @media(max-width: 950px ) configura os itens do display responsivo

	example
<form id="frm_registro">
				
		<h1>Cad. Info Frete</h1>

			
			<div class="row">	
					<div class="grupo_cxs col-1" id="grupo_cx_id">
						<label for="">Id</label>
						<input class="cx_text" type="text" id="cx_id" disabled>											
					</div>	
			</div>
</form>


*/

body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}	

.container_lista{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border:solid 1px #CFCFCF;
	border-radius: 10px;
	margin:50px;
	padding: 30px;
	z-index: 0;
	background-color:white; 
	
}


.container_lista h2{
	border-bottom:solid 1px #CFCFCF; 
	border-right: solid 1px #CFCFCF;
	padding: 2px 10px 2px 10px;
	background-color: #e4e4e4;
	margin-top: 80px;
	
}


.cx_text{	
	outline: none;
	border:solid 1px  #dddada;
/*	border:solid 1px  #B5B5B5;*/
	height: 30px;
	width:100%;
	padding-left: 10px;
	border-radius: 3px;

}




.titulo_bloco{
	margin-top: 12px;	
	border-bottom: solid 1px lightgray;
	color: #4F4F4F;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40%;
	padding-bottom: 10px;
   

}

.grupo_cxs{
	display: inline-block;
	margin-top: 15px;

}

.grupo_bloco{
	border:solid 1px #9fabac;
	padding-bottom:30px;
	margin-bottom:30px;
}

.grupo_btns a{ 
margin-left: -40px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

}

.option_select{
	/*background-color: #00FFFF;*/
	border:solid 2px #77766e;
	background-color: #54FF00;
	padding-top: 10px;
	height: 30px;
	border-radius: 10px;
	color:#3b3737;
	cursor:pointer;
	font-size: 0.9em;
	padding-right:5px;
	width: 50px;
	
}

.option_select:hover{
	transition: 0.5s;
	border:solid 2px rgb(26, 75, 83);
	background-color: rgb(181, 191, 192);
}


.row{
width:100%;
}

.row_2{
width: 30%;
float: left;
}

.col-1 {
  -ms-flex: 0 0 13.333333%;
  flex: 0 0 13.333333%;
  max-width: 13.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 21%;
  flex: 0 0 21%;
  max-width: 21%;
 
}

.col-4 {
  -ms-flex: 0 0 43%;
  flex: 0 0 43%;
  max-width: 43%;

}


.col-5 {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;

}


.col-6 {
  -ms-flex: 0 0 88%;
  flex: 0 0 88%;
  max-width: 88%;

}

.col-7 {
	-ms-flex: 0 0 95%;
	flex: 0 0 95%;
	max-width: 95%;
  
  }

@media(max-width: 750px){

.grupo_cxs{
	display: block;
	margin-top: 15px;

}

.col-1,.col-2,.col-3,.col-4, .col-5, .col-6, .col-7{
 -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%;
}

.row_2{
	width:100%;

}

.option_select{
	width: 100%;
}


}